@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Barlow', sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    position: relative;
}

/* Social Media Start*/

.footer{
    width: 100%;
    height: 87.75px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.social-media{
    width: 289.5px;
    height: 12.75px;
    position: fixed;
    bottom: 50px;
    left: 390.75px;
}

.social-media ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media ul li a{
    font-size: 10.5px;
    font-weight: 500;
    color: #050215;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.social-media ul li a:hover{
    color: #B4977B;
}

/* Social Media Finish*/

.container-left{
    width: 225px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #E5E5E5;
    text-align: center;
    background: #FFFFFF;
    z-index: 99;
}

.container-left_logo{
    font-size: 22.5px;
    font-weight: 500;
    color: #050215;
    margin-top: 42.5px;
}

.container-right{
    height: 100vh;
    margin-left: 343.5px;
    display: flex;
    position: relative;
}

.container-right_img{
    position: relative;
    text-align: center;
    float: left;
}

.container-right_img img{
    float: left;
    width: 387.75px;
    height: 600px;
    position: relative;
}

.img-text{
    width: 387.75px;
    height: 87.75px;
    position: absolute;
    bottom: -2px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.img-text h2{
    margin-top: 31.5px;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.container-right_item{
    float: right;
    width: 487.5px;
    margin-right: 180px;
}

.menu{
    margin-top: 45.75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img{
    cursor: pointer;
}

.menu ul{
    width: 406.5px;
    display: flex;
    justify-content: space-between;
}

.menu ul li a{
    font-size: 13.5px;
    color: #050215;
    transition: color 0.3s ease;
}

.menu ul li a:hover{
    color: #B4977B;
}

.menu ul li a.active{
    font-weight: 500;
    color: #B4977B;
}

.description{
    margin-top: 120px;
}

.description h1{
    width: 387.75px;
    font-size: 48px;
    font-weight: 600;
    color: #050215;
}

.description p{
    font-size: 13.5px;
    color: rgba(5, 2, 21, 0.75);
    line-height: 1.5;
    margin-top: 32.5px;
    margin-bottom: 52.5px;
}

.btn{
    width: 133.5px;
    height: 45px;
    background: #B4977B;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    line-height: 2.5;
}

.btn:hover{
    box-shadow: 0 0 10px #B4977B;
}

.description a{
    font-size: 13.5px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 10px;
}

.container-right::before{
    content: attr(data-count);
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #B4977B;
    font-size: 150px;
    font-weight: 600;
    z-index: 99;
}



/* Slider Arrow */
.slick-arrow{
    position: absolute;
    font-size: 0;
    width: 45px;
    height: 60px;
    background-size: contain;
    background-position: center;
    left: 87px;
    z-index: 999;
}

/* .slick-prev,
.slick-prev:hover,
.slick-prev:focus{
    background: url(images/arrow-photo.png) no-repeat;
    top: 17%;
    transform: rotate(180deg);
} */

.slick-next,
.slick-next:hover,
.slick-next:focus{
    background: url(images/arrow-photo.png) no-repeat;
    top: 107%;
}

.slick-next::before,
.slick-prev::before{
    display: none;
}

/* Slider Dots */
.slick-dots{
    width: 3px;
    bottom: inherit;
    top: 33%;
    left: 99px;
    display: block;
    z-index: 999;
}

.slick-dots::before{
    content: '01';
    font-size: 40.5px;
    font-weight: 500;
    color: #B4977B;
    margin-left: -10px;
}

.slick-dots::after{
    content: '06';
    font-size: 40.5px;
    font-weight: 500;
    color: #B4977B;
    margin-left: -10px;
}

.slick-dots li{
    width: 10px;
    height: 40px;
}

.slick-dots li button{
    width: 10px;
    height: 40px;
    background-color: #E5E5E5;
    transition: all ease .3s;
}

.slick-dots li.slick-active button{
    background-color: #B4977B;
}

.slick-dots li button:hover{
    background-color: #B4977B;
}

.slick-dots li button::before{
    content: '';
    display: none;
}